@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');
body {
    font-size: 16px;
    font-family: 'Light', sans-serif;
    font-weight: normal;
    background-color: rgba(215, 250, 248, 0.566);
    color: rgb(21, 44, 44);
}
.container {
    max-width: 760px;
    margin: auto;
    padding-top: 5px 20px;

}
.info{
    display: flex;
}

.info-text {
    padding-left: 20px;
}

.info-text p {
    font-size: 14px;
    font-style: italic;
    font-variant: small-caps; 
}

.card {
    border: 2px solid rgb(24, 24, 66);
    border-radius: 3%;
    margin: 20px 10px;
    padding: 20px;

}

.hobby {
    background-color: rgba(0, 255, 255, 0.187);
}

.hobby ul {
    list-style: none;
    border-left: 7px solid blue;
    padding-left: 20px;
}

.list li{
    padding-top: 10px;
    padding-bottom: 10px;
}

.list li:hover {
    background-color: rgb(234, 233, 233);
    font-size: large;
}

.table-pract{
    width: 100%;
    text-align: center;
}

.table-pract th {
    font-size: 20px;
    background-color: rgb(86, 120, 149);
    padding: 10px;
    color: aliceblue;
}

.table-pract td {
    padding: 30px 10px;
}

.table-pract td:hover {
    background-color: rgb(88, 90, 151);
    color: aliceblue;
}
.table-pract tr:nth-child(even){
    background-color: darkgray;
}
/*  каждая нечетная строка закрашивается */
.table-pract tr:nth-child(odd){
    background-color: rgb(219, 199, 199);
}
 

.contact {
    background-color: aquamarine;
 
 
}

 .form-group label{
    display: block;
    font-size: 14px;
 }
.contact h2 {
    text-align: center;
}
.form-row {
    margin-bottom: 10px;
    display: flex;
}
 .form-row .form-group {
    margin-right: 20px;
    width: 50%;
     
 }
 
.form-group textarea, .form-group input{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(124, 124, 124, 0.564);
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.practie_exper {
    background-color: rgb(127, 234, 255);
}


.avatar {
    width: 350px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}


a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: red;
    cursor: pointer;
    text-decoration: underline;
}

a:active {
    color: aqua;
}

.btn {
    background-color: #000;
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
 }


.btn:hover{
    opacity: 0.8;
}


@media (max-width: 650px) {
  
    .info {
        width: 300px;
        display: block;
        margin: 40px auto;
        color: rgb(63, 103, 105);
        text-align: center;
    }
    
    .form-row{
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }

}
